ProjektKlient/src/wsdl/localhost_8080/UslugaProjekt/Projekt.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://uslugaprojekt.ue.poznan.pl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://uslugaprojekt.ue.poznan.pl/" name="Projekt">
<types>
<xsd:schema>
<xsd:import namespace="http://uslugaprojekt.ue.poznan.pl/" schemaLocation="http://localhost:8080/UslugaProjekt/Projekt?xsd=1"/>
</xsd:schema>
</types>
<message name="zarejestrujStatek">
<part name="parameters" element="tns:zarejestrujStatek"/>
</message>
<message name="zarejestrujStatekResponse">
<part name="parameters" element="tns:zarejestrujStatekResponse"/>
</message>
<message name="pobierzStatekWgMmsi">
<part name="parameters" element="tns:pobierzStatekWgMmsi"/>
</message>
<message name="pobierzStatekWgMmsiResponse">
<part name="parameters" element="tns:pobierzStatekWgMmsiResponse"/>
</message>
<message name="pobierzPortWgNazwy">
<part name="parameters" element="tns:pobierzPortWgNazwy"/>
</message>
<message name="pobierzPortWgNazwyResponse">
<part name="parameters" element="tns:pobierzPortWgNazwyResponse"/>
</message>
<message name="zarejestrujPort">
<part name="parameters" element="tns:zarejestrujPort"/>
</message>
<message name="zarejestrujPortResponse">
<part name="parameters" element="tns:zarejestrujPortResponse"/>
</message>
<portType name="Projekt">
<operation name="zarejestrujStatek">
<input wsam:Action="http://uslugaprojekt.ue.poznan.pl/Projekt/zarejestrujStatekRequest" message="tns:zarejestrujStatek"/>
<output wsam:Action="http://uslugaprojekt.ue.poznan.pl/Projekt/zarejestrujStatekResponse" message="tns:zarejestrujStatekResponse"/>
</operation>
<operation name="pobierzStatekWgMmsi">
<input wsam:Action="http://uslugaprojekt.ue.poznan.pl/Projekt/pobierzStatekWgMmsiRequest" message="tns:pobierzStatekWgMmsi"/>
<output wsam:Action="http://uslugaprojekt.ue.poznan.pl/Projekt/pobierzStatekWgMmsiResponse" message="tns:pobierzStatekWgMmsiResponse"/>
</operation>
<operation name="pobierzPortWgNazwy">
<input wsam:Action="http://uslugaprojekt.ue.poznan.pl/Projekt/pobierzPortWgNazwyRequest" message="tns:pobierzPortWgNazwy"/>
<output wsam:Action="http://uslugaprojekt.ue.poznan.pl/Projekt/pobierzPortWgNazwyResponse" message="tns:pobierzPortWgNazwyResponse"/>
</operation>
<operation name="zarejestrujPort">
<input wsam:Action="http://uslugaprojekt.ue.poznan.pl/Projekt/zarejestrujPortRequest" message="tns:zarejestrujPort"/>
<output wsam:Action="http://uslugaprojekt.ue.poznan.pl/Projekt/zarejestrujPortResponse" message="tns:zarejestrujPortResponse"/>
</operation>
</portType>
<binding name="ProjektPortBinding" type="tns:Projekt">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="zarejestrujStatek">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pobierzStatekWgMmsi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pobierzPortWgNazwy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="zarejestrujPort">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Projekt">
<port name="ProjektPort" binding="tns:ProjektPortBinding">
<soap:address location="http://localhost:8080/UslugaProjekt/Projekt"/>
</port>
</service>
</definitions>